{% extends "pages/department_head/_layout.html" %}


{% block content %}

    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            
            <!-- Title -->
            <div class="col-sm-6">
                <h1>{{ page_title }}</h1>
                <p class="text-muted">{{ sub_title }}</p>
            </div>
    
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <div class="content" id="availableJobDetails">
        <div class="container">
            <div class="row">

                <!-- Onboarding Employee Details Form -->
                <div class="col-12">

                    <!-- Details form -->
                    <form class="card card-primary card-outline p-3" id="addOnboardingEmployeeForm">
                        <h3 class="card-title">Add Onboarding</h3>
                        <p class="text-muted">Please confirm and make sure the employee details are correct.</p>

                        <!-- Applicant's Name Field -->
                        <div class="form-row my-3">

                            <!-- First name -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstName">
                                        <span>First Name</span>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="firstName"
                                        name="firstName"
                                        placeholder="Enter first name here"
                                    >
                                </div>
                            </div>
    
                            <!-- Middle Name -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="middleName">Middle Name</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="middleName"
                                        name="middleName"
                                        placeholder="Enter middle name here"
                                    >
                                </div>
                            </div>
    
                            <!-- Last Name -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastName">
                                        <span>Last Name</span>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="lastName"
                                        name="lastName"
                                        placeholder="Enter last name here"
                                    >
                                </div>
                            </div>
    
                            <!-- Suffix Name -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="suffixName">Suffix Name</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="suffixName"
                                        name="suffixName"
                                        placeholder="Enter suffix name here"
                                    >
                                </div>
                            </div>
                        </div>

                        <!-- Contact Information Field -->
                        <div class="form-row mb-3">

                            <!-- Contact Number -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactNumber">
                                        <span>Contact Number</span>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </div>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="contactNumber"
                                            name="contactNumber"
                                            placeholder="Please type contact number"
                                        >
                                    </div>
                                </div>
                            </div>
    
                            <!-- Email -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">
                                        <span>Email</span>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                        </div>
                                        <input 
                                            type="email" 
                                            class="form-control" 
                                            id="email"
                                            name="email"
                                            placeholder="Enter email here"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- User Actions -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="button" class="btn btn-default" onclick="history.back()">Cancel</button>
                                <button type="submit" class="btn btn-info" id="saveBtn">
                                    <span>Save</span>
                                    <i class="fas fa-check ml-1"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
        

{% endblock %}

{% block page_modals %}
    {% include "pages/department_head/modals/add_onboarding_employee_modal.html" %}
{% endblock %}

{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/department_head/onboarding_employees.js')}}"></script>   
{% endblock %}