{% extends "pages/department_head/_layout.html" %} 


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            
            <!-- Title -->
            <div class="col-sm-6">
                <h1>{{ page_title }}</h1>
            </div>

            <!-- Breadcrumb -->
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                <li class="breadcrumb-item active">Fixed Layout</li>
                </ol>
            </div> -->
            <!-- / breadcrumb -->

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- SELECT2 EXAMPLE -->
    <section class="content p-3">
        <form id="addManPowerRequestForm">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Add Manpower Request</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">

                        <!-- Position title -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Position<span class="text-danger"> *</span></label>
                                <select
                                    name="position" 
                                    id="selectPosition"
                                    class="form-control select2" 
                                    style="width: 100%;" 
                                >
                                    <option selected="selected">Assistant Manager</option>
                                    <option>Secretary</option>
                                    <option>Regular Employee</option>
                                    <option>Project Manager</option>
                                </select>
                            </div>
                        </div>

                        <!-- Nature of Request -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nature of Request<span class="text-danger"> *</span></label>
                                <select 
                                    name="natureOfRequest" 
                                    id="selectNatureOfRequest"
                                    class="form-control select2" 
                                    style="width: 100%;"
                                >
                                    <option selected="selected">New/Addition</option>
                                    <option>Replacement</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">

                        <!-- No. of Vacancy -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="noOfStaffsNeeded">No. of Staffs needed<span class="text-danger"> *</span></label>
                                <input 
                                    type="number" 
                                    name="noOfStaffsNeeded" 
                                    id="noOfStaffsNeeded" 
                                    class="form-control" 
                                    placeholder="Type number of staffs needed here"
                                >
                            </div>
                        </div>

                        <!-- Deadline -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="deadline">Deadline<span class="text-danger"> *</span></label>
                                <input 
                                    type="date" 
                                    name="deadline" 
                                    id="deadline" 
                                    class="form-control" 
                                    placeholder="Type maximum salary here"
                                >
                            </div>
                        </div>
                    </div>

                    <div class="form-row">

                        <!-- Employment Type -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Employment Type<span class="text-danger"> *</span></label>
                                <select 
                                    name="employmentType" 
                                    id="selectEmploymentType"
                                    class="form-control select2" 
                                    style="width: 100%;"
                                >
                                    <option selected="selected">Full Time</option>
                                    <option>Part Time</option>
                                    <option>Temporary</option>
                                </select>
                            </div>
                        </div>

                        <!-- Minimum Salary -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="minSalary">Minimum Salary<span class="text-danger"> *</span></label>
                                <input 
                                    type="text" 
                                    name="minSalary" 
                                    id="minSalary" 
                                    class="form-control" 
                                    placeholder="Type minimum salary here"
                                >
                            </div>
                        </div>

                        <!-- Maximum Salary -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="maxSalary">Maximun Salary<span class="text-danger"> *</span></label>
                                <input 
                                    type="text" 
                                    name="maxSalary" 
                                    id="maxSalary" 
                                    class="form-control" 
                                    placeholder="Type maximum salary here"
                                >
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="jobDescription">Job Description<span class="text-danger"> *</span></label>
                                <textarea
                                    name="jobDescription" 
                                    id="jobDescription" 
                                    class="form-control h-50" 
                                    placeholder="Enter job description here..."
                                ></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="qualifications">Qualifications<span class="text-danger"> *</span></label>
                                <textarea
                                    name="qualifications" 
                                    id="qualifications" 
                                    class="form-control height: 50%" 
                                    placeholder="Enter qualifications here..."
                                ></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button type="button" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        <!-- /.card -->
        </form>
    </section>
    
{% endblock %}

{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/department_head/manpower_requests.js')}}"></script>
{% endblock %}