{% extends "pages/department_head/_layout.html" %} 


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            
            <!-- Title -->
            <div class="col-sm-6">
                <h1>{{ page_title }}</h1>
            </div>

            <!-- Breadcrumb -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                <li class="breadcrumb-item active">Fixed Layout</li>
                </ol>
            </div>
            <!-- / breadcrumb -->

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- SELECT2 EXAMPLE -->
    <section class="content p-3">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Manpower Request</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Position</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">Assistant Manager</option>
                                <option>Secretary</option>
                                <option>Regular Employee</option>
                                <option>Project Manager</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nature of Request</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">New/Addition</option>
                                <option>Replacement</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="minSalary">Minimum Salary</label>
                            <input 
                                type="text" 
                                name="minSalary" 
                                id="minSalary" 
                                class="form-control" 
                                placeholder="Type minimum salary here"
                            >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="maxSalary">Maximun Salary</label>
                            <input 
                                type="text" 
                                name="maxSalary" 
                                id="maxSalary" 
                                class="form-control" 
                                placeholder="Type maximum salary here"
                            >
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="jobDescription">Job Description</label>
                            <textarea
                                name="jobDescription" 
                                id="jobDescription" 
                                class="form-control" 
                                placeholder="Enter job description here..."
                            ></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="qualifications">Qualifications</label>
                            <textarea
                                name="qualifications" 
                                id="qualifications" 
                                class="form-control" 
                                placeholder="Enter qualifications here..."
                            ></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputFile">File input</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="inputFile" id="inputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button type="button" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
    {% endblock %}