{% extends "pages/department_head/_layout.html" %} 


{% block content %}

    {# Content Header (Page header) #}
    <section class="content-header">
        <div class="container-fluid">
            
            {# Title #}
            <h1>{{ page_title }}</h1>
            <p class="text-muted">{{ sub_title }}</p>
    
        </div>
    </section>

    {# Main content #}
    <section class="content">
        <div class="container-fluid">

            {# Manpower Requests Analytics #}
            <div class="row" id="manpowerRequestAnalytics">

                {# Total Manpower Requests #}
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="fas fa-copy"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Manpower Requests</span>
                            <span class="info-box-number" id="totalManpowerRequestsCount">0</span>
                        </div>
                    </div>
                </div>

                {# Signed Requests #}
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-file-signature"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Signed Requests</span>
                            <span class="info-box-number" id="signedRequestsCount">0</span>
                        </div>
                    </div>
                </div>

                {# Rejected Requests #}
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="fas fa-file-excel"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Rejected Requests</span>
                            <span class="info-box-number" id="rejectedRequestsCount">0</span>
                        </div>
                    </div>
                </div>
            </div>

            {# Manpower Request Card #}
            <div class="card card-primary card-outline">

                {# Card Header #}
                <div class="card-header">
                    <h3 class="card-title">Lists of Manpower Requests</h3>
                </div>

                {# Card Body #}
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="manpowerRequestDT" class="table table-bordered table-hover w-100" width="100" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Requisition No.</th>
                                    <th>Staffs Needed</th>
                                    <th>Nature of Request</th>
                                    <th>Status</th>
                                    <th>Date Requested</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7">
                                        <div class="text-center py-5">
                                            <div class="spinner-border text-primary my-3" role="status">
                                                <span class="sr-only">Loading ...</span>
                                            </div>
                                            <div class="text-secondary">Loading ...</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block page_modals %}
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/department_head/manpower_requests.js')}}"></script>
{% endblock %}