{% extends "pages/department_head/_layout.html" %} 


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            
                <!-- Title -->
                <div class="col-sm-6">
                    <h1>{{ page_title }}</h1>
                    <p class="text-muted">{{ sub_title }}</p>
                </div>
        
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Info Boxes -->
            <div class="row">
                <div class="col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="fas fa-clipboard"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Onboard Employees</span>
                            <span class="info-box-number">0</span>
                        </div>
                    </div>
                </div>
                
            </div>

            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Onboarding Employees</h3>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-hoverable" id="onboardingEmployeesDT">
                            <thead>
                                <tr>
                                    <th>Onboarding Employees</th>
                                    <th>No. of Tasks</th>
                                    <th>Task Progress</th>
                                    <th>Start</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>Mat Troi Huyen</p>
                                    </td>
                                    <td>
                                        10
                                    </td>
                                    <td class="project_progress">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                                            </div>
                                        </div>
                                        <small>
                                            57% Complete
                                        </small>
                                    </td>
                                    <td>
                                        September 1, 2021; 12:00 PM
                                    </td>
                                    <td>
                                        <div class="badge badge-info p-2 w-100">
                                            <span>On progress</span>
                                        </div>
                                    </td>
                                    <td>
                                        
                                        <div class="text-center dropdown">
                                            <div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </div>
            
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <div 
                                                    class="dropdown-item d-flex"
                                                    role="button"
                                                    onclick="viewTasks"
                                                >
                                                    <div style="width: 2rem"><i class="fas fa-list mr-1"></i></div>
                                                    <div>View Tasks</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
            
                                <tr>
                                    <td>
                                        <p>Juan D. Cruz</p>
                                    </td>
                                    <td>
                                        7
                                    </td>
                                    <td class="project_progress">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                            </div>
                                        </div>
                                        <small>
                                            100% Complete
                                        </small>
                                    </td>
                                    <td>
                                        September 1, 2021; 12:00 PM
                                    </td>
                                    <td>
                                        <div class="badge badge-success p-2 w-100">
                                            <span>Completed</span>
                                        </div>
                                    </td>
                                    <td>
                                        
                                        <div class="text-center dropdown">
                                            <div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </div>
            
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <div 
                                                    class="dropdown-item d-flex"
                                                    role="button"
                                                    onclick="viewTasks"
                                                >
                                                    <div style="width: 2rem"><i class="fas fa-list mr-1"></i></div>
                                                    <div>View Tasks</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>

            </section>
            
        </div>
    </section>
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/department_head/onboarding.js')}}"></script>
{% endblock %}