{% extends "pages/department_head/_layout.html" %} 


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            
                <!-- Title -->
                <div class="col-sm-6">
                    <h1>{{ page_title }}</h1>
                    <p class="text-muted">{{ sub_title }}</p>
                </div>
        
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Info Boxes -->
            <div class="row">
                <div class="col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="fas fa-clipboard"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Onboard Employees</span>
                            <span class="info-box-number">0</span>
                        </div>
                    </div>
                </div>
                
            </div>

            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Onboarding Employees</h3>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-hoverable" id="onboardingEmployeesDT" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Onboarding Employee</th>
                                    <th>No. of Tasks</th>
                                    <th>Task Progress</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/department_head/onboarding.js')}}"></script>
{% endblock %}