{% extends "pages/department_head/_layout.html" %} 


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                
                <!-- Title -->
                <div class="col-sm-6">
                    <h1>{{ page_title }}</h1>
                    <p class="text-muted">{{ sub_title }}</p>
                </div>
    
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
        
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                
                                <h3 class="profile-username text-center mb-0">Mat Troi Huyen</h3>
                
                                <p class="text-muted text-center">Recruiter</p>

                                <!-- Progress Bar -->
                                <div class="mb-3">
                                    <label>Tasks Progress</label>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                                        </div>
                                    </div>
                                    <small>57% Complete</small>
                                </div>

                                <!-- Applicant Details -->
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="font-weight-bold">
                                                <i class="fas fa-envelope mr-1 text-secondary"></i>
                                                <span>Email</span>
                                            </div>
                                            <div>Sample Data</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="font-weight-bold">
                                                <i class="fas fa-phone mr-1 text-secondary"></i>
                                                <span>Contact Number</span>
                                            </div>
                                            <div>Sample Data</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="font-weight-bold">
                                                <i class="fas fa-calendar-alt mr-1 text-secondary"></i>
                                                <span>Start of employment</span>
                                            </div>
                                            <div>Sample Data</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a 
                                                target="_blank" 
                                                rel="noopener noreferrer" 
                                                class="btn btn-sm btn-block btn-secondary"
                                                id="viewResumeBtn"
                                            >
                                                <span>View Resume</span>
                                                <i class="fas fa-file-alt ml-1"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-8">

                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h3 class="card-title">Lists of Tasks</h3>
                                    </div>
                                    <div>
                                        <a href="#" class="btn btn-sm btn-primary">
                                            <span>Add Task</span>
                                            <i class="fas fa-plus ml-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <table id="generalTasksDT" class="table table-bordered table-hover w-100" width="100" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tasks</th>
                                            <th>Deadline</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Review Resume of Applicants</td>
                                            <td>September 1, 2021; 12:00 PM</td>
                                            <td>
                                                <div class="badge badge-success p-2">
                                                    <span>Completed</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-center dropdown">
                                                    <div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </div>
                    
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <div 
                                                            class="dropdown-item d-flex"
                                                            role="button"
                                                            onclick="viewDetails"
                                                        >
                                                            <div style="width: 2rem"><i class="fas fa-check mr-1"></i></div>
                                                            <span>View Details</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Post a job accoring to approved manpower requests</td>
                                            <td>September 1, 2021; 12:00 PM</td>
                                            <td>
                                                <div class="badge badge-info p-2">
                                                    <span>On progress</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-center dropdown">
                                                    <div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </div>
                    
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <div 
                                                            class="dropdown-item d-flex"
                                                            role="button"
                                                            onclick="markAsComplete"
                                                        >
                                                            <div style="width: 2rem"><i class="fas fa-check mr-1"></i></div>
                                                            <span>Mark as Completed</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Make a report about shortlisted applicants</td>
                                            <td>September 1, 2021; 12:00 PM</td>
                                            <td>
                                                <div class="badge badge-info p-2">
                                                    <span>On progress</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-center dropdown">
                                                    <div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </div>
                    
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <div 
                                                            class="dropdown-item d-flex"
                                                            role="button"
                                                            onclick="markAsComplete"
                                                        >
                                                            <div style="width: 2rem"><i class="fas fa-check mr-1"></i></div>
                                                            <span>Mark as Completed</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Compile reports</td>
                                            <td>September 1, 2021; 12:00 PM</td>
                                            <td>
                                                <div class="badge badge-success p-2">
                                                    <span>Completed</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-center dropdown">
                                                    <div class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </div>
                    
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <div 
                                                            class="dropdown-item d-flex"
                                                            role="button"
                                                            onclick="viewDetails"
                                                        >
                                                            <div style="width: 2rem"><i class="fas fa-list mr-1"></i></div>
                                                            <span>View Details</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/admin/dashboard.js')}}"></script>
{% endblock %}