{% extends "layouts/base.html" %}

{% block body %}
<div class="container-fluid">

    <table class="table">
        <tr>
            <th>Access Token</th>
            <td id="accessTokenCookie"></td>
        </tr>
    </table>

    {% include 'layouts/_scripts.html' %}

    <script>
        $.ajax({
            url: `${ D_API_ROUTE }info`,
            type: 'GET',
            headers: AJAX_HEADERS,
            success: result => {
                console.log(result)
            }
        }).fail(() => alert('There was an error in getting user info'))
    </script>

</div>
{% endblock %}