<!-- 
 | ===========================================================================
 | PLUGINS SCRIPTS
 | ===========================================================================
-->

<!-- jQuery -->
<script src="{{url_for('static', path='/plugins/jquery/jquery.min.js')}}"></script>

<!-- jQuery Validation -->
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>

<!-- jQuery Validation Additional Methods -->
<script src="{{url_for('static', path='/plugins/jquery-validation/additional-methods.min.js')}}"></script>

<!-- Bootstrap Bundle -->
<script src="{{url_for('static', path='/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- bs-custom-file-input -->
<script src="{{url_for('static', path='/plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>

<!-- Overlay Scrollbars -->
<script src="{{url_for('static', path='/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>

<!-- DataTables -->
<script src="{{url_for('static', path='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/datatables.scroller.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/scroller.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>

<!-- jszip -->
<script src="{{url_for('static', path='/plugins/jszip/jszip.min.js')}}"></script>

<!-- Moment JS -->
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>

<!-- Input Mask -->
<script src="{{url_for('static', path='/plugins/inputmask/jquery.inputmask.min.js')}}"></script>

<!-- Toastr -->
<script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>

<!-- Select2 -->
<script src="{{url_for('static', path='/plugins/select2/js/select2.full.min.js')}}"></script>

<!-- Summernote -->
<script src="{{url_for('static', path='/plugins/summernote/summernote-bs4.min.js')}}"></script>

<!-- BS-Stepper -->
<script src="{{url_for('static', path='/plugins/bs-stepper/js/bs-stepper.min.js')}}"></script>


<!-- AdminLTE JS -->
<script src="{{url_for('static', path='/dist/js/adminlte.min.js')}}"></script>

<!-- Main JS -->
<script src="{{url_for('static', path='/dist/js/pages/constants.js')}}"></script>
<script src="{{url_for('static', path='/dist/js/pages/main.js')}}"></script>
