{% extends "pages/hiring_manager/_layout.html" %} 


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            
            <!-- Title -->
            <h1>{{ page_title }}</h1>
            <p class="text-muted">{{ sub_title }}</p>

        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Manpower Requests Analytics -->
            <div class="row" id="manpowerRequestAnalytics">

                <!-- Total Manpower Requests Count -->
                <div class="col-md-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="fas fa-people-carry"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Total Manpower Requests</span>
                            <span class="info-box-number" id="totalManpowerRequestsCount">0</span>
                        </div>
                    </div>
                </div>
                
                <!-- For Review Requests -->
                <div class="col-md-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning"><i class="fas fa-redo"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">For Review</span>
                            <span class="info-box-number" id="forReviewRequestsCount">0</span>
                        </div>
                    </div>
                </div>

                <!-- Approved Requests -->
                <div class="col-md-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-clipboard-check"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Approved Requests</span>
                            <span class="info-box-number" id="approvedRequestsCount">0</span>
                        </div>
                    </div>
                </div>

                <!-- Rejected Requests -->
                <div class="col-md-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="fas fa-file-excel"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Rejected Requests</span>
                            <span class="info-box-number" id="rejectedRequestsCount">0</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="card card-primary card-outline">

                <!-- Card Header -->
                <div class=" p-3 d-flex justify-content-between">
                    <div>
                        <h3 class="card-title">Lists of Manpower Requests</h3>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="manpowerRequestDT" class="table table-bordered table-hover w-100" width="100" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Requisition No.</th>
                                    <th>Position Title</th>
                                    <th>Staffs Needed</th>
                                    <th>Nature of Request</th>
                                    <th>Status</th>
                                    <th>Date Requested</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block page_modals %}
    {% include "pages/hiring_manager/modals/manpower_requests_modal.html" %}
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/hiring_manager/manpower_requests.js')}}"></script>
{% endblock %}

