{% extends "layouts/base.html" %}

{% block body %}
    <body class="layout-top-nav control-sidebar-slide-open layout-navbar-fixed">
        <div class="wrapper">

            {% include 'pages/home/components/topbar.html' %}
            
            {# Content Wrapper#}
            <div class="content-wrapper pb-5">
                {% block content %}{% endblock %}
            </div>

            {# Main Footer #}
            <div class="main-footer bg-dark text-white pb-5">
                <div class="container py-3">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="container my-3">
                                <h5>About Us</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed magni natus vel inventore earum mollitia iure optio cum ratione libero.</p>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="container my-3">
                                <h5>Quick Links</h5>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Careers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Patients & Visitors</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="container my-3">
                                <h5>Contact Us</h5>
                                <div class="form-group">
                                    <label for="email">Sent your email here</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Small Footer #}
            <footer class="main-footer navbar-dark">
                <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center">
                    
                    {# Default to the left #}
                    <strong>Copyright &copy; 2014-2021 {{BRAND_NAME}}.</strong> 
                    
                    {# To the right #}
                    <div>All rights reserved</div>
                </div>
                
            </footer>
        </div>


        {% block page_modals %}{% endblock %}


        {% include 'layouts/_scripts.html' %}
        {% block page_scripts %}{% endblock %}
    </body>
{% endblock %}