{% extends "layouts/base.html" %}

{% block body %}
    <body class="layout-top-nav control-sidebar-slide-open layout-navbar-fixed">
        <div class="wrapper">

            {% include 'pages/home/components/topbar.html' %}
            
            {# Content Wrapper. Contains page content #}
            <div class="content-wrapper">
                {% block content %}{% endblock %}
            </div>

            {# Footer #}
            <div class="bg-dark text-white pb-5">
                <div class="container py-5">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="container">
                                <h5>About Us</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed magni natus vel inventore earum mollitia iure optio cum ratione libero.</p>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="container">
                                <h5>Quick Links</h5>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Careers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Patients & Visitors</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <h5>Contact Us</h5>
                            <div class="form-group">
                                <label for="email">Sent your email here</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Main Footer #}
            <footer class="main-footer text-sm">
                
                {# To the right #}
                <div class="float-right d-none d-sm-inline">Anything you want</div>

                {# Default to the left #}
                <strong>Copyright &copy; 2014-2021 {{BRAND_NAME}}.</strong> All rights reserved.
            </footer>
        </div>


        {% block page_modals %}{% endblock %}


        {% include 'layouts/_scripts.html' %}
        {% block page_scripts %}{% endblock %}
    </body>
{% endblock %}