{% extends "pages/home/_layout.html" %}


{% block content %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0">{{ page_title }}</h1>
        </div><!-- /.col -->
    </div><!-- /.container-fluid -->
</div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="simple-results.html">
                        <div class="input-group">
                            <input type="search" class="form-control form-control-lg" placeholder="Search available job here">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="content p-5">
        <div class="container">
            <p class="mt-3 text-center font-weight-normal display-4">Available Jobs</p>
            <h5 class="text-center font-weight-normal">Discover latest available jobs here</h5>
            <div class="row p-3">
                <!-- /.col-md-6 -->
                <div class="col-md-6 col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0 text-primary">Recruiter</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <p class="card-text col-md-6"><i class="fas fa-money-bill-wave text-success mr-2"></i>P20000 - P50000</p>
                                <p class="card-text col-md-6"><i class="fas fa-user-tie text-success mr-2"></i>Full Time</p>
                                <p class="card-text col-md-6"><i class="fas fa-clock text-success mr-2"></i>August 31, 2021</p>
                            </div>
                                <a href="#" class="btn btn-secondary float-right">View Details</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->

                <!-- /.col-md-6 -->
                <div class="col-md-6 col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0 text-primary">Assistant Manager</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <p class="card-text col-md-6"><i class="fas fa-money-bill-wave text-success mr-2"></i>P20000 - P50000</p>
                                <p class="card-text col-md-6"><i class="fas fa-user-tie text-success mr-2"></i>Full Time</p>
                                <p class="card-text col-md-6"><i class="fas fa-clock text-success mr-2"></i>August 31, 2021</p>
                            </div>
                                <a href="#" class="btn btn-secondary float-right">View Details</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->

            <div class="row p-3">
                <!-- /.col-md-6 -->
                <div class="col-md-6 col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0 text-primary">Recruiter</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <p class="card-text col-md-6"><i class="fas fa-money-bill-wave text-success mr-2"></i>P20000 - P50000</p>
                                <p class="card-text col-md-6"><i class="fas fa-user-tie text-success mr-2"></i>Full Time</p>
                                <p class="card-text col-md-6"><i class="fas fa-clock text-success mr-2"></i>August 31, 2021</p>
                            </div>
                                <a href="#" class="btn btn-secondary float-right">View Details</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->

                <!-- /.col-md-6 -->
                <div class="col-md-6 col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0 text-primary">Assistant Manager</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <p class="card-text col-md-6"><i class="fas fa-money-bill-wave text-success mr-2"></i>P20000 - P50000</p>
                                <p class="card-text col-md-6"><i class="fas fa-user-tie text-success mr-2"></i>Full Time</p>
                                <p class="card-text col-md-6"><i class="fas fa-clock text-success mr-2"></i>August 31, 2021</p>
                            </div>
                                <a href="#" class="btn btn-secondary float-right">View Details</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
    </div>

{% endblock %}


{% block page_scripts %}
    <!-- Insert page scripts here -->
{% endblock %}