{% extends "pages/home/_layout.html" %}


{% block content %}

    {# Content Header (Page header) #}
    <div class="content-header">
        <div class="container">
            
            {# Title #}
            <h1 class="m-0">{{ page_title }}</h1>
            <div class="text-secondary">Discover your new career here</div>
        
        </div>
    </div>

    {# Main content #}
    <section class="content">

        {# Search Component #}
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form id="searchJobForm">
                        <div class="input-group">
                            <input 
                                type="search" 
                                class="form-control form-control-m" 
                                placeholder="Search available job here"
                                name="searchQuery"
                            >
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# Available Job List #}
        <div class="container">
            <div class="row" id="availableJobList">
                <div class="col-12">
                    <div class="text-center py-5">
                        <div class="spinner-border text-primary mb-2" style="width: 2.5rem; height: 2.5rem"></div>
                        <div>Please wait while loading list ...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/home/careers.js')}}"></script>
{% endblock %}