{% extends "pages/department_manager/_layout.html" %} 


{% block content %}

    {# Content Header #}
    <section class="content-header">
        <div class="container-fluid">
            <h1>{{ page_title }}</h1>
            <p class="text-muted">{{ sub_title }}</p>
        </div>
    </section>

    {# Main content #}
    <section class="content">
        <div class="container-fluid">

            <div class="form-row">

                {# Menu List #}
                <div class="col-md-3">

                    {# Menu Loader #}
                    <div class="card card-primary card-outline" id="menuLoader">
                        <div class="card-header align-items-center">
                            <div class="skeleton-loader mb-0" style="height: 28px; width: 8rem"></div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav nav-pills flex-column" id="applicantsMenu">
                                
                                {% for i in range(3) %}
                                    <li class="nav-item">
                                        <div class="d-flex py-2 px-3">
                                            <div>
                                                <div class="skeleton-loader mb-0 mr-2" style="height: 25px; width: 25px"></div>
                                            </div>
                                            <div>
                                                <div class="skeleton-loader mb-0" style="height: 25px; width: 10rem"></div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>

                    {# Menu List #}
                    <div class="card card-primary card-outline" id="menu">
                        <div class="card-header align-items-center">
                            <h3 class="card-title">Menus</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav nav-pills flex-column" id="applicantsMenu">

                                {# For new employees link #}
                                <li class="nav-item">
                                    <a href="{{ DM_WEB_ROUTE }}general-tasks/for-new-employees" class="nav-link">
                                        <i class="fas fa-user" style="width: 1.5rem"></i>
                                        <span>For new employees</span>
                                        <span 
                                            class="badge bg-warning float-right" 
                                            id="forScreeningCount" 
                                            style="display: none"
                                        >0</span>
                                    </a>
                                </li>

                                {# For the team link #}
                                <li class="nav-item">
                                    <a href="{{ DM_WEB_ROUTE }}general-tasks/for-the-team" class="nav-link">
                                        <i class="fas fa-users" style="width: 1.5rem"></i>
                                        <span>For the team</span>
                                        <span 
                                            class="badge bg-info float-right" 
                                            id="forInterviewCount" 
                                            style="display: none"
                                        >0</span>
                                    </a>
                                </li>

                                {# Department Manager Tasks link #}
                                <li class="nav-item">
                                    <a href="{{ DM_WEB_ROUTE }}general-tasks/my-tasks" class="nav-link">
                                        <i class="fas fa-user-tie" style="width: 1.5rem"></i>
                                        <span>My tasks</span>
                                        <span 
                                            class="badge bg-info float-right"
                                            id="interviewedApplicantsCount" 
                                            style="display: none"
                                        >0</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

                {# General Tasks #}
                <div class="col-md-9">
                    {% block dataTable %}{% endblock %}
                </div>
            </div>

        </div>
    </section>
{% endblock %}


{% block page_modals %}
    {% include "pages/department_manager/modals/onboarding_tasks_modal.html" %}
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/department_manager/onboarding.js')}}"></script>
{% endblock %}