{% extends "layouts/base.html" %}

{% block body %}
<body class="hold-transition login-page bg-white">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <div 
        class="spinner-border text-primary" 
        role="status" 
        style="width: 2.5rem; height: 2.5rem;"
        ></div>
    </div>

    {% block content %}{% endblock %}
    
    {% include "layouts/_scripts.html" %}

    {% block page_scripts %}{% endblock %}
</body>
{% endblock %}