<!-- Sidebar -->
<div class="sidebar">
    
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">

        <!-- <div class="image">
        <img src="../../dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
        </div> -->
        
        <div class="info mr-1">
            <a href="#" class="d-block text-truncate">
                <div id="userFullName"></div>
                <div class="small text-secondary" id="userPosition"></div>
            </a>
        </div>
        
    </div>

    <!-- SidebarSearch Form -->
    <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
            </button>
        </div>
        </div>
    </div> -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-header">CORE</li>
        <li class="nav-item">
            <a href="#" class="nav-link{% if active_navlink == "Dashboard" %} active{% endif %}">
            <i class="nav-icon fas fa-chart-line"></i>
            <p>Dashboard</p>
            </a>
        </li>

        <li class="nav-header">RECRUITMENT</li>
        <li class="nav-item">
            <a href="../../iframe.html" class="nav-link{% if active_navlink == "Manpower Requests" %} active{% endif %}">
            <i class="nav-icon fas fa-people-carry"></i>
            <p>Manpower Requests</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://adminlte.io/docs/3.1/" class="nav-link{% if active_navlink == "Hired Applicants" %} active{% endif %}">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>
                Hired Applicants
                <span class="right badge badge-primary">99+</span>
            </p>
            </a>
        </li>

        <li class="nav-header">ON BOARD</li>
        <li class="nav-item">
            <a href="#" class="nav-link{% if active_navlink == "Onboarding Employees" %} active{% endif %}">
            <i class="fas fa-clipboard nav-icon"></i>
            <p>Onboarding Employees</p>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a href="#" class="nav-link">
            <i class="nav-icon fas fa-circle"></i>
            <p>
                Level 1
                <i class="right fas fa-angle-left"></i>
            </p>
            </a>
            <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Level 2</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Level 2
                    <i class="right fas fa-angle-left"></i>
                </p>
                </a>
                <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Level 3</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Level 3</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Level 3</p>
                    </a>
                </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Level 2</p>
                </a>
            </li>
            </ul>
        </li> -->
        <li class="nav-item">
            <a href="#" class="nav-link{% if active_navlink == "General Tasks" %} active{% endif %}">
            <i class="fas fa-tasks nav-icon"></i>
            <p>General Tasks</p>
            </a>
        </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->

</div>
<!-- /.sidebar -->


<!-- Sidebar Custom -->
<div class="sidebar-custom">
    <a href="#" class="btn btn-link"><i class="fas fa-cogs"></i></a>
    <a href="#" class="btn btn-secondary hide-on-collapse pos-right">Help</a>
</div>
<!-- /.sidebar-custom -->