{# Left navbar links #}
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button">
            <i class="fas fa-bars"></i>
        </a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Core</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{{DH_WEB_ROUTE}}" class="nav-link active">Human Resource</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Finance</a>
    </li>
</ul>

{# Right navbar links #}
<ul class="navbar-nav ml-auto">

    {# User Menu #}
    <li class="nav-item dropdown">
        <div class="nav-link" data-toggle="dropdown" role="button">
            <i class="far fa-user"></i>
            {# <span class="badge badge-warning navbar-badge">15</span> #}
        </div>

        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item d-flex align-items-center">
                <div class="mr-3" style="width: 1.25rem">
                    <i class="fas fa-user"></i>
                </div>
                <span>Profile</span>
            </a>
            <a href="#" class="dropdown-item d-flex align-items-center">
                <div class="mr-3" style="width: 1.25rem">
                    <i class="fas fa-cog"></i>
                </div>
                <span>Settings</span>
            </a>

            <div class="dropdown-divider"></div>
            
            <div 
                role="button" 
                class="dropdown-item d-flex align-items-center" 
                data-toggle="modal" 
                data-target="#logoutModal"
            >
                <div class="mr-3" style="width: 1.25rem">
                    <i class="fas fa-sign-out-alt"></i>
                </div>
                <span>Log out</span>
            </a>
        </div>
    </li>
</ul>