{% extends "pages/recruiter/_layout.html" %} 


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            
            <!-- Title -->
            <div class="col-sm-6">
                <h1>{{ page_title }}</h1>
                <p class="text-muted">{{ sub_title }}</p>
            </div>
    
            <!-- Breadcrumb -->
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                <li class="breadcrumb-item active">Fixed Layout</li>
                </ol>
            </div> -->
            <!-- / breadcrumb -->
    
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Info Boxes -->
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Total Applicants</span>
                            <span class="info-box-number">410</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-md-4 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning"><i class="fas fa-user-check"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Total Shortlisted Applicants</span>
                            <span class="info-box-number">410</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-md-4 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="fas fa-user-slash"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Total Rejected Applicants</span>
                            <span class="info-box-number">410</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                
            </div>
            <!-- / Info Boxes -->


            <!-- Card -->
            <div class="card card-primary card-outline">

                <!-- Card Header -->
                <div class=" p-3 d-flex justify-content-between">
                    <div>
                        <h3 class="card-title">Lists of Applicants</h3>
                    </div>
                </div>
                <!-- /.card-header -->

                <!-- Card Body -->
                <div class="card-body">
                    
                    <div class="table-responsive">
                        <table id="applicantsDT" class="table table-bordered table-hover w-100" width="100" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Position Title</th>
                                    <th>Applicant</th>
                                    <th>Employement Type</th>
                                    <th>Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Assistant Manager
                                    </td>
                                    <td>
                                        Juan Tamad
                                    </td>
                                    <td>
                                        Full Time
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-warning px-2">For Interview</span>
                                    </td>
                                    <td class="project-actions text-center">
                                        <div 
                                            class="btn btn-secondary btn-sm"
                                            data-toggle="modal"
                                            data-target="#viewJobPostModal"
                                        >
                                            <i class="fas fa-list mr-1"></i>
                                            <span>View</span>
                                        </div>
                                        
                                        <div 
                                            class="btn btn-info btn-sm"
                                            data-toggle="modal"
                                            data-target="#editJobPostModal"
                                        >
                                            <i class="fas fa-pencil-alt mr-1"></i>
                                            <span>Edit</span>
                                        </div>

                                        <div 
                                            class="btn btn-danger btn-sm"
                                            data-toggle="modal"
                                            data-target="#"
                                        >
                                            <i class="fas fa-trash mr-1"></i>
                                            <span>Delete</span>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->
            
        </div>
    </section>
    <!-- /. content -->

{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/admin/dashboard.js')}}"></script>
{% endblock %}