{% extends "pages/recruiter/_layout.html" %} 


{% block content %}

    {# Content Header #}
    <section class="content-header">
        <div class="container-fluid">
                <h1>{{ page_title }}</h1>
                <p class="text-muted">{{ sub_title }}</p>
            </div>
    </section>

    {# Main content #}
    <section class="content">
        <div class="container-fluid">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="py-5 d-flex justify-content-center">
                    <img 
                        draggable="false"
                        src="{{BASE_URL_WEB}}static/dist/img/under_construction.svg" 
                        alt="Under Maintenance" 
                        width="50%"
                    >
                </div>
                <h3>Oops! This page is under maintenance.</h3>
                <p class="text-secondary">You can go back in others days. Sorry for incovenience</p>
            </div>
        </div>
    </section>
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/admin/dashboard.js')}}"></script>
{% endblock %}