{% extends "pages/recruiter/_layout.html" %} 


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            
            <!-- Title -->
            <div class="col-sm-6">
                <h1>{{ page_title }}</h1>
                <p class="text-muted">{{ sub_title }}</p>
            </div>

            <!-- Breadcrumb -->
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                <li class="breadcrumb-item active">Fixed Layout</li>
                </ol>
            </div> -->

            </div>
        </div>
    </section>

    <section class="content px-3">
        <div class="form-row">

            <!-- Create Job Post Form -->
            <div class="col-md-8">
                <form class="card card-primary card-outline" id="editJobPostForm">
    
                    <div class="card-header align-items-center">
                        <div class="card-title">Edit Job Post</div>

                        <div class="card-tools">
                            <button type="button" class="btn btn-sm btn-tool" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </button>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <input type="hidden" id="jobPostID" name="jobPostID">
    
                        <!-- Job Description -->
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="jobDescription">Job Description <span class="text-danger">*</span></label>
                                    <textarea
                                        name="jobDescription" 
                                        id="jobDescription" 
                                        class="form-control"
                                        placeholder="Enter job description here..."
                                    ></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Options -->
                        <div class="form-row">

                            <!-- Make Salary Range Visible -->
                            <div class="col">
                                <label>Options</label>
                                <div class="form-group">
                                    <div class="mb-2" id="salaryRangeField">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="salaryRangeIsVisible" name="salaryRangeIsVisible">
                                            <label for="salaryRangeIsVisible">Make Salary Range Visible</label>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="expirationDate">
                                            <label for="expirationDate">Set Expiration Date</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Open until -->
                            <div class="col" id="openUntilField" style="display: none">
                                <div class="form-group">
                                    <label for="openUntil">Open until</label>
                                    <input 
                                        type="date" 
                                        class="form-control"
                                        id="openUntil"
                                        name="openUntil"
                                    >
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-default" onclick="history.back()">Cancel</button>
                            <button type="submit" class="btn btn-info">
                                <span>Save</span>
                                <i class="fas fa-check ml-1"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
            <!-- Job Post Details & Manpower Request -->
            <div class="col-md-4">

                <!-- Job Post Details -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="card-title">Job Post Details</div>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <h6 class="mb-1">Posted at</h6>
                                    <div id="postedAtDate"></div>
                                    <div id="postedAtTime"></div>
                                    <div class="small text-secondary" id="postedAtHumanized"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="mb-1">Last updated</h6>
                                    <div id="lastUpdatedDate"></div>
                                    <div id="lastUpdatedTime"></div>
                                    <div class="small text-secondary" id="lastUpdatedHumanized"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- Manpower Request Summary -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="card-title">Manpower Request</div>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table w-100">
                            <tr>
                                <td>
                                    <h6 class="mb-1">Vacant Position</h6>
                                    <div id="vacantPositionForSummary"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="mb-1">Staffs Needed</h6>
                                    <div id="staffsNeededForSummary"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="mb-1">Employment Type</h6>
                                    <div id="employmentTypeForSummary"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="mb-1">Salary Range</h6>
                                    <div id="salaryRangeForSummary"></div>
                                    <div id="salaryRangeStatus"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="mb-1">Deadline</h6>
                                    <div id="deadlineForSummary"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button 
                                        class="btn btn-sm btn-secondary btn-block"
                                        data-toggle="modal"
                                        data-target="#viewManpowerRequestModal"
                                    >View Full Details</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
{% endblock %}


{% block page_modals %}
    {% include "pages/recruiter/modals/edit_job_post_modal.html" %}
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/recruiter/job_posts.js')}}"></script>
{% endblock %}