{% extends "pages/recruiter/_layout.html" %} 


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            
            <!-- Title -->
            <div class="col-sm-6">
                <h1>{{ page_title }}</h1>
                <p class="text-muted">{{ sub_title }}</p>
            </div>
    
            <!-- Breadcrumb -->
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                <li class="breadcrumb-item active">Fixed Layout</li>
                </ol>
            </div> -->
            <!-- / breadcrumb -->
    
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Info Boxes -->
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="fas fa-clipboard-check"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Total Approved Requests</span>
                            <span class="info-box-number">1,410</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                <!-- /.info-box -->
                </div>
                <!-- /.col -->
                
                <div class="col-md-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-calendar-check"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">Total Completed Requests</span>
                            <span class="info-box-number">93,139</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- / Info Boxes -->

            <!-- Card -->
            <div class="card card-primary card-outline">

                <!-- Card Header -->
                <div class=" p-3 d-flex justify-content-between">
                    <div>
                        <h3 class="card-title">Lists of Approved Manpower Requests</h3>
                    </div>
                </div>
                <!-- /.card-header -->

                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table 
                            id="manpowerRequestDT" 
                            class="table table-bordered table-hover w-100" 
                            width="100" 
                            cellspacing="0"
                        >
                            <thead>
                                <tr>
                                    <th>Position Title</th>
                                    <th>Staffs Needed</th>
                                    <th>Nature of Request</th>
                                    <th>Status</th>
                                    <th>Deadline</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
            
        </div>
    </section>
    <!-- /. content -->
{% endblock %}


{% block page_modals %}
    {% include "pages/recruiter/modals/manpower_requests_modal.html" %}
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/pages/recruiter/manpower_requests.js')}}"></script>
{% endblock %}