{# Brand Name #}
{% set BRAND_NAME = 'HoMIES' %}


{# Base URL Routes #}
{%  set BASE_URL_WEB = 'http://127.0.0.1:8000/' %}
{%  set DH_WEB_ROUTE = BASE_URL_WEB + 'human-resource/recruitment/dh/' %}
{%  set DM_WEB_ROUTE = BASE_URL_WEB + 'human-resource/recruitment/dm/' %}
{%  set H_WEB_ROUTE  = BASE_URL_WEB + 'human-resource/recruitment/h/'  %}
{%  set R_WEB_ROUTE  = BASE_URL_WEB + 'human-resource/recruitment/r/'  %}


{# Base Layout #}
{% include "layouts/_header.html" %}
{% block body %}{% endblock %}
{% include "layouts/_footer.html" %}